# StaffStat Environment Configuration

# Discord Bot Token

TOKEN=YOUR_BOT_TOKEN

# Discord Application Client ID

CLIENT_ID=YOUR_CLIENT_ID

# Your Discord User ID

OWNER_ID=YOUR_DISCORD_USER_ID